/* =========== */
.vjs-big-play-button {
    border-radius: 0px !important;
	background-image: url("https://www.blackstone.com/images/default-source/assets/icons/video-play-v2.png") !important;
	background-repeat: no-repeat !important;
	outline: none;
}

.vjs-big-play-button .vjs-icon-placeholder:before{
    content: "" !important; 
	
}

.vjs-control-bar button{
	outline: none;
}
.vjs-play-progress, .vjs-volume-level, .vjs-menu-button-popup .vjs-menu .vjs-menu-item.vjs-selected, .bc-iframe .vjs-playlist-sidebar .vjs-playlist-show-hide button:hover {
    background-color: #A95228 !important;
}

.ee-components-style-global.ee-components-view:before {
    content: "";
    display: none;
}
